#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_configure:
	autoreconf --force --install
	dh_auto_configure

override_dh_auto_clean:
	[ ! -f Makefile ] || $(MAKE) distclean

override_dh_installdocs:
	dh_installdocs NEWS
